.contacts__icon {
  /*margin-right: 10px;*/
  fill: currentColor;
  align-items: center;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    fill: $accent-color;
  }

  @media screen and (min-width: 1200px) {
    margin-right: 10px;
  }
}

.section--top-padding {
  padding-top: 0;
}

.contacts__tel {
  /*margin-left: 30px;*/
  @media screen and (min-width: 1200px) {
    margin-left: 30px;
  }
}

.contacts {
  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: center;
  }
}
.contacts.contacts__link + .contacts__link {
  @media screen and (min-width: 1200px) {
    margin-left: 50px;
  }
}
.contacts__link {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
  color: $main-text-color;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: $accent-color;
  }
}
