.footer__contacts {
  @media screen and (min-width: 480px) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    .footer__logo {
      margin: 0 auto;
    }
  }
  @media screen and (min-width: 1200px) {
    margin-top: 0;
    margin-right: 70px;
  }
}
.contacts-footer {
  /*margin-top: 20px;*/
  @media screen and (min-width: 480px) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20px auto 60px auto;
  }
}
.contacts-footer__link {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.714;

  letter-spacing: 0.03em;
  color: $main-text-color;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: $accent-color;
  }

  @media screen and (min-width: 480px) {
    &:not(:last-child) {
      margin-bottom: 8px;
    }
    display: flex;
    justify-content: center;
  }
}
.contacts-footer__adress {
  color: $main-title-color;
}
