.filtrs {
  display: flex;
  justify-content: center;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 56px;

  li:not(:last-child) {
    margin-right: 8px;
  }
}

.filtrs__button {
  padding: 6px 22px 6px 22px;
}
