.filtrs {
  li:not(:last-child) {
    margin-right: 8px;
  }
  @media screen and (max-width: 767px) {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 25px;
  }
  @media screen and (min-width: 768px) {
    margin-right: auto;
    margin-left: auto;
    display: flex;
    justify-content: center;
    margin-bottom: 56px;
  }
}

.filtrs__button {
  padding: 6px 22px 6px 22px;
  @media screen and (max-width: 767px) {
    margin-bottom: 15px;
  }
}
