.footer {
  margin: 0 auto;
  padding-top: 60px;
  padding-bottom: 60px;

  background-color: #2f303a;
  @media screen and (min-width: 480px) {
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding-left: 215px;
    padding-right: 215px;
    max-width: 1600px;
    max-height: 252px;
  }
}
.footer__social {
  @media screen and (min-width: 480px) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    h2 {
      margin: 0 auto 20px auto;
    }
  }
  @media screen and (min-width: 1200px) {
    justify-content: flex-start;
    margin-top: 12px;
    margin-right: 93px;
  }
}

.footer__social h2,
.footer__mail h2 {
  text-align: start;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: $main-title-color;
  margin-bottom: 20px;
}
.social-footer {
  display: flex;
  @media screen and (min-width: 480px) {
    margin: 0 auto 60px auto;
  }
}

.social-footer__item {
  width: 44px;
  height: 44px;

  &:not(:last-child) {
    margin-right: 10px;
  }
}

.social-footer__link {
  width: 100%;
  height: 100%;
  display: flex;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  align-items: center;
  justify-content: center;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: $accent-color;
  }
}

.social-footer__icon {
  fill: $main-title-color;
}

.footer__mail {
  display: flex;
  flex-direction: column;
  margin-right: 0;
  @media screen and (min-width: 480px) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    h2 {
      margin: 0 auto 20px auto;
    }
  }
}
.footer-subscribe {
  display: flex;
  align-items: center;
  @media screen and (min-width: 480px) {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
.footer__mail input {
  width: 358px;
  height: 50px;
  margin-right: 12px;
  border: 1px solid rgba(255, 255, 255, 0.3);

  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  @media screen and (min-width: 480px) {
    width: 100%;
  }
}

.footer-subscribe__subscribe {
  display: flex;
  width: 200px;
  height: 50px;
  background-color: $accent-color;
  justify-content: center;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;

  align-items: center;

  letter-spacing: 0.06em;

  color: $main-title-color;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
.footer-subscribe__button {
  margin-left: 10px;
}
.footer-subscribe__input {
  background-color: #2f303a;
  padding-left: 16px;
  outline: none;
  @media screen and (min-width: 480px) {
    margin-bottom: 20px;
  }
}
