.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 1;

  @media screen and (min-width: 480px) and (max-width: 1199px) {
    overflow-y: scroll;
  }
  @media screen and (min-width: 1200px) {
    overflow-y: scroll;
  }
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.9);
}
.modal {
  display: flex;
  flex-direction: column;
  padding: 40px;

  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  align-items: center;

  /*position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);*/
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  @media screen and (max-width: 767px) {
    max-width: 450px;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
  }
  @media screen and (min-width: 780px) and (max-width: 1199px) {
    max-width: 450px;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  @media screen and (min-width: 1200px) {
    max-width: 528px;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
  }
}

.vector:hover,
.vector:focus {
  fill: $accent-color;
}
.modal__close-button {
  display: block;
  position: fixed;
  width: 30px;
  height: 30px;
  top: 8px;
  right: 8px;

  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
}

.modal-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;

  @media screen and (min-width: 480px) and (max-width: 1199px) {
    width: 370px;
  }
  @media screen and (min-width: 1200px) {
    width: 448px;
  }
}
.modal h4 {
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;

  color: $second-title-color;
  margin-bottom: 12px;
  margin-top: 0;
}
.form-agreement {
  display: flex;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  align-items: center;
}
.agreement {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  margin-left: 8px;
  padding-left: 14px;

  letter-spacing: 0.03em;

  color: $main-text-color;

  @media screen and (min-width: 480px) {
    font-size: 12px;
    line-height: 1.67;
  }
  @media screen and (min-width: 1200px) {
    font-size: 14px;
    line-height: 1.71;
  }
}
.agreement-contract {
  font-style: normal;
  font-weight: normal;

  letter-spacing: 0.03em;
  text-decoration-line: underline;

  color: $accent-color;

  @media screen and (min-width: 480px) {
    font-size: 12px;
    line-height: 1.67;
  }
  @media screen and (min-width: 1200px) {
    font-size: 14px;
    line-height: 1.71;
  }
}
.form-agreement input[type="checkbox"] {
  width: 16px;
  height: 15px;
}
.send-button {
  margin-left: auto;
  margin-right: auto;

  padding: 10px 56px;

  width: 200px;
  height: 50px;
  background-color: $accent-color;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;

  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;

  align-items: center;

  letter-spacing: 0.06em;

  color: $main-title-color;
}

.modal-form__label {
  margin-bottom: 4px;

  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 1.167;

  letter-spacing: 0.01em;

  color: $main-text-color;
}

.modal-form__field {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:not(:last-child) {
    margin-bottom: 10px;
  }
}
.modal-form__input {
  position: relative;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form__field__input:focus {
  border: 1px solid $accent-color;
  border-radius: 4px;
  padding-left: 38px;
}

.modal-form__field__input:focus + .modal__input-icon {
  fill: $accent-color;
}
.modal-form__field__input {
  height: 40px;
  width: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  bottom: 0;
  outline: none;
}
.modal-form__field:placeholder-shown {
  border: 1px solid $accent-color;
  border-radius: 4px;
}

.modal__input-icon {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
}
textarea {
  width: 100%;
  height: 120px;
  resize: none;
  padding: 12px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  box-sizing: border-box;
  outline: none;

  &:hover,
  &:focus {
    border: 1px solid $accent-color;
    border-radius: 4px;
  }
}
.checkbox {
  --webkit-appearance: none;
  appearance: none;
  position: absolute;
}
.square {
  display: flex;
  align-items: center;
  transform: translateY(-50%);
  position: absolute;
  top: 50%;
  left: 0;
  pointer-events: none;
}

.checkbox:checked + .square {
  background-color: $accent-color;
  fill: $accent-color;
  border-radius: 2px;
  border-color: transparent;
  background-image: url("../images/iconCheck.svg");
  background-size: contain;
  background-origin: border-box;
}
